<article>
  <header id="header-page">
    <div class="header-page__left">Gourmet au Catering</div>
    <nav class="header-page__right">
      <ul>
        <li>About</li>
        <li>Menu</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>

  <section class="thumbnail">
    <div class="background"></div>
    <h2>Le Catering</h2>
  </section>

  <section class="about">
    <div class="about-item">
      <div class="about-item__left">
        <picture>
          <img src="../../../../../assets/images/dish01.png" alt="dish-01" />
        </picture>
      </div>
      <div class="about-item__right">
        <h4>About Catering</h4>
        <h5>Tradition since 1889</h5>
        <p>
          The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
          adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal
          ingredients.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

    <div class="about-item">
      <div class="about-item__left">
        <picture>
          <img src="../../../../../assets/images/dish02.png" alt="dish-02" />
        </picture>
      </div>
      <div class="about-item__right">
        <h4>Our Menu</h4>
        <ul>
          <li>
            <h5>Bread Basket</h5>
            <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
          </li>
          <li>
            <h5>Honey Almond Granola with Fruits</h5>
            <p>Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p>
          </li>
          <li>
            <h5>Belgian Waffle</h5>
            <p>Vanilla flavored batter with malted flour 7.50</p>
          </li>
          <li>
            <h5>Scrambled eggs</h5>
            <p>Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p>
          </li>
          <li>
            <h5>Blueberry Pancakes</h5>
            <p>With syrup, butter and lots of berries 8.50</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="about-item">
      <div class="about-item__left">
        <picture>
          <img src="../../../../../assets/images/dish01.png" alt="dish-01" />
        </picture>
      </div>
      <div class="about-item__right">
        <h4>About Catering</h4>
        <h5>Tradition since 1889</h5>
        <p>
          The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
          adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal
          ingredients.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

    <div class="about-item">
      <div class="about-item__left">
        <picture>
          <img src="../../../../../assets/images/dish02.png" alt="dish-02" />
        </picture>
      </div>
      <div class="about-item__right">
        <h4>About Catering</h4>
        <h5>Tradition since 1889</h5>
        <p>
          The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
          adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>

  <section class="contact">
    <h2>Contact</h2>
    <div class="wrapper">
      <div class="contact__left">
        <p>
          We offer full-service catering for any event, large or small. We understand your needs and
          we will cater the food to satisfy the biggerst criteria of them all, both look and taste.
          Do not hesitate to contact us.
        </p>
        <p style="color: #607d8b">Catering Service, 42nd Living St, 43043 New York, NY</p>
        <p>
          You can also contact us by phone 00553123-2323 or email
          <em>
            {{ 'catering@catering.com' }}
          </em>
          , or you can send us a message here:'
        </p>
      </div>
      <div class="contact__right">
        <form action="#">
          <div>
            <input type="text" placeholder="Name" />
          </div>
          <input type="text" placeholder="How many people" />
          <input type="date" />
          <input type="text" placeholder="Message \ Special requirements" />

          <button disabled type="submit">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </section>

  <footer>
    <p>Powered by w3.css</p>
    <p>{{ 'oizoidatoi@outlook.com' }}</p>
  </footer>
</article>
