article {
  height: 100%;
}

#header-page {
  position: fixed;
  width: 100%;
  z-index: 25;
  background-color: #ffffff;
  opacity: 0.9;
  top: 0px;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav.header-page__right {
  ul {
    display: flex;
  }
  ul li {
    padding: 0.5rem 1rem;
    font-family: ArimoBoldItalic;
    &:hover {
      cursor: pointer;
      background-color: #e7e2e2;
      border-radius: 0.5rem;
      transition: ease-in-out 0.2s;
    }
  }
}

section.thumbnail {
  position: relative;

  .background {
    min-height: 80vh;
    opacity: 0.7;
    background: url(../../../../../assets/images/hamburger.webp) center / cover no-repeat;
    @media screen and (max-width: 576px) {
      min-height: 100vh;
    }
  }

  h2 {
    position: absolute;
    bottom: 0px;
    padding: 0.75rem 1.5rem;
    margin: 0.625rem 0rem;
  }
}

section.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 4rem auto;

  .about-item {
    padding: 2rem 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      justify-content: unset;
      align-items: center;
      flex-direction: column;
    }

    &__left,
    &__right {
      padding: 0.75rem 1.5rem;
      justify-content: center;
    }

    &__left {
      flex-basis: 45%;
      display: flex;
      height: 640px;
      img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1.2;
      }
    }

    &__right {
      flex-basis: 55%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      h4 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
      }
      h5 {
        font-size: 1.5rem;
      }
      p {
        text-align: start;
        font-size: 1.125rem;
      }
    }
    border-bottom: 1px solid #e7e2e2;
  }

  @media screen and (min-width: 992px) {
    .about-item:nth-child(2n) .about-item__right {
      order: -1;
    }
  }
}

.about-item__right {
  ul {
    li {
      text-align: left;
      margin-bottom: 3rem;
    }
  }
}

footer {
  padding: 2rem;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.contact {
  max-width: 1400px;
  width: 100%;
  margin: 0rem auto 2rem;
  padding: 0rem 1rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
  }

  &__left {
    display: inline-flex;
    gap: 1rem;
    flex-basis: 40%;
    padding-right: 3rem;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      padding-right: 0rem;
      margin-bottom: 2rem;
    }
  }

  &__right {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 60%;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 0.8rem 1rem;
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid #cccccc;
        font-size: 1rem;

        &:focus {
          border-color: #cccccc;
        }
      }
    }

    button {
      all: unset;
      color: #000000;
      background-color: #f1f1f1;
      padding: 1em;
      font-size: 1rem;
      text-align: center;
      box-sizing: border-box;
    }
  }
}

.wrapper {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
