@font-face {
  font-family: ArimoRegular;
  src: url('../fonts/Arimo/Arimo-Regular.ttf') format('woff');
  font-display: swap;
}

@font-face {
  font-family: ArimoBoldItalic;
  src: url('../fonts/Arimo/Arimo-BoldItalic.ttf') format('woff');
  font-display: swap;
}
